body{
    height: 953px;
    width: 1670px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-y: hidden;
}

.header{
    display: block; 
    background-color:#B0AEA5;
    color: black;
    position: absolute;
    width: 1770px;
    block-size: 67px;
    padding: 45px 0;
    padding-left: 150px;
    font-size: 50px;
    /* margin: 0px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Logo{
    position: absolute;
    margin-left: -125px;
    margin-top: -23.5px;
    height: 94px;
    width: 94px;
    color: black;
}

.TopText{
    position: absolute;
    margin-top: 0px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

.TopText:hover{
    color:rgb(90, 90, 90);
}

.Apple{
    position: absolute;
    margin-left: 480px;
    margin-top: 7px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

.Apple:hover{
    color:rgb(90, 90, 90);
}

.Apple2{
    position: absolute;
    margin-left: 670px;
    margin-top: 7px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

.Apple2:hover{
    color:rgb(90, 90, 90);
}

.Apple3{
    position: absolute;
    margin-left: 900px;
    margin-top: 7px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

.Apple3:hover{
    color:rgb(90, 90, 90);
}

.Apple4{
    position: absolute;
    margin-left: 1111px;
    margin-top: 7px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

.Apple4:hover{
    color:rgb(90, 90, 90);
}

.Apple5{
    position: absolute;
    margin-left: 1350px;
    margin-top: 7px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

.Apple5:hover{
    color:rgb(90, 90, 90);
}

.NormalMessage{
    display: block;
    color: black;
    position: absolute;
    width: 37%;
    margin-top: 200px;
    margin-left: 50px;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Application{
    margin-left: 650px;
}

.Firstname{
    margin-left: 10px;
}

.Lastname{
    margin-left: 10px;
}

.Email{
    margin-left: 42px;
}

.Phone{
    margin-left: 33px;
}

.Gender{
    margin-left: 28px;
}

.CV{
    margin-left: 61px;
}
.Firstname1{
    color: black;
    position: absolute;
    margin-top: 290px;
    margin-left: 51px;
}

.Lastname1{
    color: black;
    position: absolute;
    margin-top: 290px;
    margin-left: 351px;
}

.Email1{
    color: black;
    position: absolute;
    margin-top: 340px;
    margin-left: 51px;
}

.Phone1{
    color: black;
    position: absolute;
    margin-top: 340px;
    margin-left: 351px;
}

.Gender{
    color: black;
    position: absolute;
    margin-top: 393px;
    margin-left: 210px;
}

.GenderMessage{
    color: black;
    position: absolute;
    margin-top: 390px;
    margin-left: 51px;
}

.CV_Message{
    color: black;
    position: absolute;
    margin-top: 440px;
    margin-left: 51px;
}

.CV{
    color: black;
    position: absolute;
    margin-top: 480px;
    margin-left: 51px;
}

.Apply{
    color: black;
    position: absolute;
    margin-top: 515px;
    margin-left: 300px;
}

.Apply:hover{
    color: rgb(90, 90, 90);
}

.Clicked{
    color: rgb(0, 150, 20);
    position: absolute;
    margin-top: 550px;
    margin-left: 245px;
}

.BottomText{
    display: block; 
    color: black;
    position: absolute;
    padding: 50px 0;
    padding-left: 850px;
    font-size: 50px;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 0;
}

.Facebook{
    position: absolute;
    margin-left: 810px;
    margin-top: 45px;
    height: 50px;
    width: 50px;
}

.Instagram{
    position: absolute;
    margin-left: 910px;
    margin-top: 45px;
    height: 50px;
    width: 50px;
}

.Twitter{
    position: absolute;
    margin-left: 1010px;
    margin-top: 45px;
    height: 50px;
    width: 50px;
}

.footer{
    position: absolute;
    bottom: 0;
    background-color:#B0AEA5;
    padding: 10px;
    width: 1900px;
    height: 140px;
    /* margin-bottom: -10px; */
}
